<!DOCTYPE html>
<html>

<head>
    <title>Kolokwium</title>
    <script src="https://unpkg.com/vue"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="app">
        <div class="cell">
            1
        </div>
        <ul class="tlo" v-for="row in rows">
            <li v-for="column in columns">
                <div class="cell" :class="[active==(row,column) ? 'active' : '']" @click="zmiana(row,column)">
                    {{row}},{{column}}</div>
            </li>
        </ul>


        {{ message }}
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Powodzenia',
                rows: 10,
                columns: 10,
                active: "1,1"
            },
            methods: {
                zmiana: function (row, column) {
                    active = (row, column)
                    console.log(active)
                }

            }
        })
    </script>
</body>

</html>