.cell {
    background-color: orange;
    width: 50px;
    height: 50px;
    border: 1px grey solid;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.active {
    background-color: red;
    color: white;
}
.tlo {
    list-style: none;
    display: flex;
    flex-wrap: wrap;    
}
